@charset "utf-8";
html {
    font-size: 1.1em;
}
body {
    -webkit-text-size-adjust: 100%;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
/*    margin-left: auto;
    margin-right: auto; */
}
